<div ng-controller="eventsController" class="center">
		<h3>Welcome to Bring It!</h3>
		<h5>"Bring It" is an Event Organizer web application.</h5>
		<br>
		<div>
			<h5>1) Start by scheduling an event.</h5>
			<h5>2) Make a list of items to bring.</h5>
			<h5>3) Invite  guests to the event.</h5>
			<h5>4) Have them bring it!</h5>
		</div>
		<h3>Click here 
			 <a href="#/new" class="btn-floating btn-large"><i class="material-icons">add</i></a>
			to start
		</h3>
		<p>Click <a href="#/events">here</a> to see existing events.</p>
	</div>
</div>
