<script type="text/javascript">
	$(document).ready(function(){
       $('.datepicker').pickadate({
          selectMonths: true, // Creates a dropdown to control month
          selectYears: 15, // Creates a dropdown of 15 years to control year
        });
    })
</script>
<div ng-controller="eventsController" class="event_width_margin">
	<h3>Create an event here!</h3>
	<form name="eventForm">
		<div class="input-field">
			<label for="host">Host Name</label>
			<input name="host" type="text" ng-model="newEvent.host_name" required>
		</div>
		<div class="input-field">
			<label for="title">Event Title</label>
			<input name="title" type="text" ng-model="newEvent.title" required>
		</div>
		<div class="input-field">
		    <label for="description">Description</label>
			<input name="description" type="text" ng-model="newEvent.description">
		</div>
		<div class="input-field">
			<label for="date">Date</label>
			<input name="date" type="date" class="datepicker" ng-model="newEvent.date" required>
		</div>
		<div class="input-field">
			<label for="time">Time</label>
			<input name="time" type="text" ng-model="newEvent.time" required>	
		</div>
		<h5>Create a list of items for the event.</h5>
		<div>
			<ul>
				<li ng-repeat="item in items">{{item.quantity}} {{item.name}} <a href="" ng-click="removeNewItem(items.indexOf(item))"><i class="red-text text-lighten-2 fa fa-times"></i></a></li>
			</ul>
			<ul>
				<div class="row">
					<div class="input-field col s3">
						<label for="quantity">Quantity</label>
						<input name="quantity" type="text" value="1" ng-model="newItem.quantity">
					</div>
					<div class="input-field col s6">
						<label for="name">Item</label>
						<input name="name" type="text" ng-model="newItem.name">
					</div>
					<div class="col s2">
						 <a ng-click="addItem()" class="btn-floating btn-large w">
						 	<i class="material-icons">add</i>
						 </a>
					</div>
				</div> <!-- end row -->
			</ul>
		</div>
		<a href="#/events">
			<input type="submit" value="Save" ng-click="addEvent(items)" ng-disabled="eventForm.$invalid" class="waves-effect waves-light btn orange lighten-3">
		</a>
		<a href="#/"><button class="waves-effect waves-light btn orange lighten-3">Go Back</button></a>
	</form>
</div>
<footer class="page-footer">
</footer>