.list_header{
  margin:10px 0 0 0;
}
.button_position{
  position:relative;
}
.claim_name{
  font-weight:bold;  
}
.claim_div{
  margin:10px 0 10px 19px;
}
.new_quantity{
  position: relative;
}
.edit_quantity_label{
  position: relative;
}
.check{
  border-radius:50%;
}
.event_width_margin{
  width: 500px;
  margin: 0px auto;
}
.collapsible_li{
  display: block;
  cursor: pointer;
  height: 3.5rem;
  line-height: 3rem;
  padding: 1px 5px 0px 5px;
  background-color: #fff;
  border-collapse: collapse;
}

